*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body{
    text-align: center;
    font-family: sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%
    z-index: 100;
}
.navbar{
    display: flex;
    margin-right: 10px;
}

.logo{
    margin-top: 120px;
    margin-left: 5px;

}

.logo a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}
.navbar a{
display: block;
padding: 20px 20px;
color: #fff;
text-decoration:none ;
text-transform: uppercase;
font-size: 20px;
}

.navbar a:hover{
    background: #3f3f3f;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    height: 60vh !important;
    background: url(../imagenes/fondo4.jpg) no-repeat center;
    background-size: cover;
}
.title{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
p{
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}
.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #f32121;
    color: #fff;
    text-decoration: none;
    background: #f32121;
}
.btn:hover   {
    background: none;
    
}
.btn-home{
    display: flex;
}
.btn-home a{
    margin: 0 10px;
}
.content{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sau{
    padding: 30px;
    background: #1f1d1d;
}

.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    
}
.box-container .box{
    height: 11rem;
    width: 17rem;
    background: #f32121;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(201, 166, 166, 0.5);
    margin: 2rem;
}
.box-container .box i{
    height: 3rem ;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #f32121;
    font-size: 2rem;
    margin: 1rem 0;
}

.box-container.box h3{
    font-size: 20px;
    color: #f32121;
}
.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}
.about{
    background: #171717;
}
.price {
    background: url(../imagenes/fondo3.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.contact {
    padding-top: 20px;
    background: #171717;
    padding-bottom:0 ;
}
@media  (max-width: 768px) {
    .title{
        margin-bottom: 0;
        font-size: 40px;
    }
    .sau{
        height: 120vh;
    }
    .navbar{
        display: none;
    }
}


h3:hover{
    color: rgb(34, 3, 207);
    -webkit-transform: rotate(360deg);transform: rotate(360deg);
}
h2:hover{
    color: rgb(176, 175, 180);
    -webkit-transform: rotate(360deg);transform: rotate(360deg);
}